<table class="table table-bordered table-hover">
	<thead class="table__header">
		<tr class="table__row">
			<th class="table__row-header">Id</th>
			<th class="table__row-header">Name</th>
			<th class="table__row-header">Email</th>
			<th class="table__row-header">Role</th>
			<th class="table__row-header">Moderator</th>
			<th class="table__row-header">User</th>
			<th class="table__row-header">Delete</th>
		</tr>
	</thead>
	<tbody class="table__body">
		<tr class="table__row">
			<td class="table__row-data">1</td>
			<td class="table__row-data">Rawan</td>
			<td class="table__row-data">rawan@gmail.com</td>
			<td class="table__row-data">Moderator</td>
			<td class="table__row-data">
				<button mat-stroked-button color='primary'>moderator</button>
			</td>
			<td class="table__row-data">
				<button mat-stroked-button color='primary'>user</button>
			</td>
			<td class="table__row-data">
				<button mat-stroked-button color='warn'>Delete</button>
			</td>
		</tr>
		<tr class="table__row">
			<td class="table__row-data">1</td>
			<td class="table__row-data">Omar</td>
			<td class="table__row-data">omar@gmail.com</td>
			<td class="table__row-data">User</td>
			<td class="table__row-data">
				<button mat-stroked-button color='primary'>moderator</button>
			</td>
			<td class="table__row-data">
				<button mat-stroked-button color='primary'>user</button>
			</td>
			<td class="table__row-data">
				<button mat-stroked-button color='warn'>Delete</button>
			</td>
		</tr>
	</tbody>
</table>
